.u-bg-blue-1 {
  background-color: hsl($clr-blue-1);
}

.u-bg-blue-2 {
  background-color: hsl($clr-blue-2);
}

.u-bg-white {
  background-color: hsl($clr-white);
}

.u-text-blue-1 {
  color: hsl($clr-blue-1);
}

.u-text-blue-2 {
  color: hsl($clr-blue-2);
}

.u-text-yellow-1 {
  color: hsl($clr-yellow-1);
}

.u-text-yellow-2 {
  color: hsl($clr-yellow-2);
}

.u-text-grey-1 {
  color: hsl($clr-grey-1);
}
